.main-content {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    font-family: "Microsoft YaHei", "Ubuntu", Arial, sans-serif;
}